In [ ]:
# Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', 25)

# Exploración de archivos
import sys
sys.path.append('../')

# Funciones personalizadas
from src import sp_eda as se

In [7]:
df = pd.read_csv('../data/data_raw.csv')

In [56]:
se.eda_preliminar (df)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
1718,1719,B,2022-03-28,1,FASHHION,P1642,Sneakers,5,"152,25","0,24","578,55",Bank Transfer,Standard,South,69.0,F,TABLET,5,No,Eddddge,Email
1044,1045,B,2022-02-13,0,ELECTRONICS,P1296,Headphones,0,"443,85","0,16","0,0",NaN,NaN,West,37.0,M,TABLET,9,NaN,Firefoxxxxxx,Email
12,13,B,2022-03-14,0,FASHHION,P1152,T-shirt,0,"116,35","0,27","0,0",NaN,NaN,North,41.0,F,Mobile,12,NaN,Chrooome,Social
1218,1219,B,2022-02-10,0,SPORTS,P1081,Football,0,"63,54","0,2","0,0",NaN,NaN,East,50.0,M,Mobile,16,NaN,Ottttther,Email
359,360,B,2022-02-14,1,TOYS,P1544,Puzzle,4,"42,78","0,29","121,5",PayPal,Express,North,29.0,F,Mobile,14,Yes,Eddddge,Organic

------------
DIMANSIONES
Nº de filas: 2000
Nº de columnas: 21
------------
INFO
<class 'pandas.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User Id           2000 non-null   int64
 1   Group             2000 non-null   str
 2   Visit Date        2000 non-null   str
 3   Conversion        2000 non-null   int64
 4   Product Category  2000 non-null   str
 5   Product Id        2000 non-null   str
 6   Product Name      2000 non-null   str
 7   Quantity          2000 non-null   int64
 8   Price             1960 non-null   str
 9   Discount          1960 non-null   str
 10  Total Value       2000 non-null   str
 11  Payment Method    247 non-null    str
 12  Shipping Method   247 non-null    str
 13  Region            2000 non-null   str
 14  Customer Age      1960 non-null   float64
 15  Customer Gender   2000 non-null   str
 16  Device            2000 non-null   str
 17  Session Duration  2000 non-null   int64
 18  Coupon Used       247 non-null    str
 19  Browser           2000 non-null   str
 20  Referral Source   2000 non-null   str
dtypes: float64(1), int64(4), str(16)
memory usage: 328.3 KB

None

------------
PORCENTAJE NULOS

User Id              0.00
Group                0.00
Visit Date           0.00
Conversion           0.00
Product Category     0.00
Product Id           0.00
Product Name         0.00
Quantity             0.00
Price                2.00
Discount             2.00
Total Value          0.00
Payment Method      87.65
Shipping Method     87.65
Region               0.00
Customer Age         2.00
Customer Gender      0.00
Device               0.00
Session Duration     0.00
Coupon Used         87.65
Browser              0.00
Referral Source      0.00
dtype: float64

------------
DUPLICADOS

np.int64(0)

------------
FRECUENCIA CATEGORICAS
GROUP
Group
B    1013
A     987
Name: count, dtype: int64
------------
VISIT DATE
Visit Date
2022-01-28    35
2022-02-16    34
2022-02-28    32
2022-01-21    31
2022-01-19    31
              ..
2022-01-18    15
2022-03-21    14
2022-03-30    14
2022-02-21    12
2022-01-31    10
Name: count, Length: 90, dtype: int64
------------
PRODUCT CATEGORY
Product Category
FASHHION       321
BOOKS          291
HOME           287
SPORTS         282
TOYS           276
ELECTRONICS    275
BEAUTY         268
Name: count, dtype: int64
------------
PRODUCT ID
Product Id
P1782    8
P1416    8
P1600    7
P1848    7
P1386    7
        ..
P1732    1
P1528    1
P1439    1
P1959    1
P1172    1
Name: count, Length: 867, dtype: int64
------------
PRODUCT NAME
Product Name
Science Fiction    85
Smartphone         84
Jeans              84
Mystery            82
Table              82
Sofa               82
Sneakers           81
Dress              81
Football           77
T-shirt            75
Action Figure      75
Mascara            74
Doll               73
Lamp               72
Running Shoes      72
Tennis Racket      72
Headphones         72
Perfume            71
Lipstick           69
Novel              69
Board Game         69
Gym Bag            61
Camera             60
Puzzle             59
Laptop             59
Biography          55
Lotion             54
Chair              51
Name: count, dtype: int64
------------
PRICE
Price
19,99     3
24,73     2
49,0      2
26,39     2
57,46     2
         ..
177,49    1
109,75    1
236,05    1
22,67     1
47,05     1
Name: count, Length: 1887, dtype: int64
------------
DISCOUNT
Discount
0,08    76
0,21    76
0,27    75
0,03    75
0,13    74
0,01    74
0,25    74
0,19    73
0,22    71
0,29    70
0,1     70
0,17    70
0,16    67
0,24    66
0,12    66
0,14    64
0,02    64
0,11    63
0,04    62
0,07    62
0,23    62
0,2     62
0,05    58
0,09    58
0,26    58
0,28    55
0,15    54
0,06    53
0,18    53
0,0     29
0,3     26
Name: count, dtype: int64
------------
TOTAL VALUE
Total Value
0,0       1753
871,24       1
109,22       1
66,67        1
69,26        1
          ...
20,02        1
61,41        1
752,46       1
8,19         1
437,85       1
Name: count, Length: 248, dtype: int64
------------
PAYMENT METHOD
Payment Method
Bank Transfer       73
Credit Card         67
PayPal              57
Cash on Delivery    50
Name: count, dtype: int64
------------
SHIPPING METHOD
Shipping Method
Express     90
Same day    82
Standard    75
Name: count, dtype: int64
------------
REGION
Region
South      435
East       402
Central    398
North      396
West       369
Name: count, dtype: int64
------------
CUSTOMER GENDER
Customer Gender
F        997
M        915
Other     88
Name: count, dtype: int64
------------
DEVICE
Device
TABLET     696
Mobile     676
Desktop    628
Name: count, dtype: int64
------------
COUPON USED
Coupon Used
No     132
Yes    115
Name: count, dtype: int64
------------
BROWSER
Browser
Ottttther       443
Eddddge         431
Chrooome        411
Firefoxxxxxx    365
Safaaaaari      350
Name: count, dtype: int64
------------
REFERRAL SOURCE
Referral Source
Organic    551
Social     493
Email      482
PAID       474
Name: count, dtype: int64
------------