## Datos a limpiar

In [142]:
# Tratamiento de datos
import pandas as pd
pd.set_option('display.max_columns', 25)

# Exploración de archivos
import sys
sys.path.append('../')

# Funciones personalizadas
from src import sp_limpieza as sl

In [143]:
df_raw = pd.read_csv('../data/data_raw.csv')
df_raw.sample(5)

,User Id,Group,Visit Date,Conversion,Product Category,Product Id,Product Name,Quantity,Price,Discount,Total Value,Payment Method,Shipping Method,Region,Customer Age,Customer Gender,Device,Session Duration,Coupon Used,Browser,Referral Source
290,291,A,2022-01-22,1,HOME,P1801,Lamp,2,"100,22","0,16","168,37",Bank Transfer,Same day,Central,68.0,M,TABLET,11,Yes,Eddddge,PAID
625,626,A,2022-01-22,0,SPORTS,P1455,Football,0,"249,44","0,18","0,0",NaN,NaN,West,38.0,M,Mobile,8,NaN,Firefoxxxxxx,Social
161,162,B,2022-01-01,0,ELECTRONICS,P1252,Smartphone,0,"722,39","0,0","0,0",NaN,NaN,North,45.0,F,Mobile,4,NaN,Safaaaaari,PAID
1218,1219,B,2022-02-10,0,SPORTS,P1081,Football,0,"63,54","0,2","0,0",NaN,NaN,East,50.0,M,Mobile,16,NaN,Ottttther,Email
1266,1267,A,2022-01-23,0,BOOKS,P1333,Mystery,0,"31,07","0,11","0,0",NaN,NaN,East,40.0,F,TABLET,21,NaN,Chrooome,Organic

In [144]:
df = df_raw.copy()
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [145]:
df.columns

Index(['user_id', 'group', 'visit_date', 'conversion', 'product_category',
       'product_id', 'product_name', 'quantity', 'price', 'discount',
       'total_value', 'payment_method', 'shipping_method', 'region',
       'customer_age', 'customer_gender', 'device', 'session_duration',
       'coupon_used', 'browser', 'referral_source'],
      dtype='str')

In [146]:
df['visit_date']  = pd.to_datetime(df['visit_date'], format= '%Y-%m-%d')

In [147]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x == 1 else 'no')

In [148]:
df['product_category'] = df['product_category'].str.lower()

In [149]:
df['product_category'] = df['product_category'].str.replace('fashhion', 'fashion')

In [150]:
df['product_id'] = df['product_id'].str.replace('P', '')
df['product_id'] = df['product_id'].astype('int64')

In [151]:
sl.minus (df)
sl.comas (df)
sl.espacios (df)

- **Browser** -> Cambiar las categorías, están mal escritas, hacemos un map

In [152]:
df['browser'].unique()

<StringArray>
['safaaaaari', 'ottttther', 'firefoxxxxxx', 'eddddge', 'chrooome']
Length: 5, dtype: str

In [153]:
dicc_map = {
    'safaaaaari' : 'safari', 
    'ottttther' : 'other', 
    'firefoxxxxxx' : 'firefox', 
    'eddddge' : 'edge', 
    'chrooome' : 'chrome'
}

In [154]:
df['browser'] = df['browser'].map(dicc_map)

In [155]:
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
465,466,a,2022-02-14,0,home,1132,table,0,284.37,0.25,0.0,NaN,NaN,south,32.0,f,desktop,13,NaN,other,paid,no
1289,1290,a,2022-02-07,0,fashion,1867,t-shirt,0,179.28,0.19,0.0,NaN,NaN,central,51.0,m,desktop,8,NaN,edge,organic,no
589,590,a,2022-03-06,0,beauty,1842,mascara,0,88.51,0.06,0.0,NaN,NaN,south,22.0,m,mobile,27,NaN,other,paid,no
169,170,b,2022-01-09,0,sports,1414,football,0,143.64,0.01,0.0,NaN,NaN,east,NaN,f,tablet,14,NaN,firefox,social,no
529,530,b,2022-02-18,0,toys,1349,board_game,0,97.06,0.27,0.0,NaN,NaN,central,29.0,f,mobile,12,NaN,chrome,email,no

In [156]:
df.to_csv('../data/datos_limpios.csv', index=False)